body{
    padding: 0px;
text-align: center;

}
.colors{
  background-color: rgb(156, 164, 164);
}

.container-fluid{
 
}
.smoke{
  position: absolute;
  top: 10px;
  left: 500px;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color:rgb(242, 242, 242);
  justify-content: space-evenly;
}

.smoke li {
  list-style: none;
  display: inline-block;
  font-size: 50px;
  text-transform: uppercase;
  margin: 0 10px;
  animation: animate 2.5s infinite linear;
}

.smoke li :nth-of-type(1) {
  animation-delay: 0s;
}

.smoke li:nth-of-type(2) {
  animation-delay: .2s;
}

.smoke li:nth-of-type(3) {
  animation-delay: .4s;
}
.smoke li:nth-of-type(4) {
  animation-delay: .6s;
}

.smoke li:nth-of-type(5) {
  animation-delay: .8s;
}

.smoke li:nth-of-type(6) {
  animation-delay: 1s;
}

.smoke li:nth-of-type(7) {
  animation-delay: 1.2s;
}

.smoke li:nth-of-type(8) {
  animation-delay: 1.4s;
}

.smoke li:nth-of-type(9) {
  animation-delay: 1.6s;
}

.smoke li:nth-of-type(9) {
  animation-delay: 1.8s;
}

@keyframes animate {
  0% {
      filter: blur(0px);
  }

  50% {
      filter: blur(0px);
  }

  100% {
      filter: blur(40px);
  }
}



.title{
text-align: center;
font-family: 'Montserrat', sans-serif;
border: 1px solid rgb(232, 206, 206);
background-color: #000000;
color: rgb(10, 10, 10);

padding-bottom: 50px;

}
.edc{
  font-weight: 800;
  color: #f1f1f1;
  font-size: 25px;
}
.teams{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
.edc:hover{
  color:rgb(21, 164, 216);
  font-size: 30px;

}
.parag{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #f7f6f6;
}
.parag:hover{
  
  font-size: 23px;
  color: rgb(21, 164, 216);
}
 

.heading{
  
    color: rgb(255, 255, 255);
    font-size: 60px;;
position: relative;
top:120px;
margin-top: -10px;
}

.titleimage{
border-radius: 50px;
width: 50px;
height: 50px;

}
.navbar-nav
{
    display: flex;
    justify-content: flex-start;
    margin-left: -100px;
}
.navinfo nav-link{
    justify-items: left;
}

#middle-part{
margin-top: 40px;
    text-align: center;
padding-top: 100px;


}


.razorpay-img{
   width: 100%;
   height: 100%;
}

.startup-info{
    margin: 100px;
}



.navinfo{

    position: relative;
    left:1010px;
}

.ecell-link{
    position: relative;
    left: 10px;
}

.flip-card-front{
  background-size: cover;
}
.row{
  background-color: #070347;
}
.flip-card {
    margin:6.5rem;
    background-color: transparent;
    width: 200px;
    height: 300px;
    border: 1px solid #f4eeee;
    border-style: none;
    perspective: 1000px; 
  }
    .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
 
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  

  .flip-card-front {
    background-color: #f7f6f6;
    color: black;
  }
  .head-cell
  {
    background-color: aqua;
    color: #000000;
  }
  
  .flip-card-back {
    background-color:#000000;
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
  }


  footer{
    background-color:#0B2447;
    padding-bottom: 60px;
    color: aliceblue;
    text-align: center;

  }

  .letter{
    font-family: 'Montserrat', sans-serif;
  }

  .soical-net{

    font-size: 1.5rem;
  margin: 2rem;
  }

  .footer-pro{
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
  }


  
  .soical-network{
position: relative;

    font-size: 1.5rem;
  margin: 1rem;
  }

  hr{
    position: relative;
    left: 380px;
  height: 3px;
    width: 50%;
  }

  .email-pro{
    color: #f1f1f1;
   text-decoration: none;
  }

  .email-pro:hover{
    color: #A5D7E8;
  }